<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cntt.homecooking">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <queries>
        <intent>
            <action android:name="com.google.android.youtube.api.service.START" />
        </intent>
    </queries>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HomeCooking"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activities.UserInfo"
            android:exported="false" />
        <activity
            android:name=".ThanhToan"
            android:exported="false" />
        <activity
            android:name=".LinkYoutube"
            android:exported="false" />
        <activity
            android:name=".activities.MyKitchen"
            android:exported="false" />
        <activity
            android:name=".activities.DetailProduct"
            android:exported="false" />
        <activity
            android:name=".activities.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".activities.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".activities.DetailLikedActivity"
            android:exported="false" />
        <activity
            android:name=".activities.DetailFormulaActivity"
            android:exported="false" />
        <activity
            android:name=".activities.DetailActivity"
            android:exported="false" />
        <activity
            android:name=".model.DetailCategory"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".AboutUs"
            android:exported="true" />
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
        </activity>
        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>
    </application>

</manifest>